/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-clock {
	background-color: #000;
	height: 100px;
	line-height: 100px;
}

.wp-block-create-block-clock .clock {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: #0F0;
}

